name: Verify

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm test --coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  fixtures:
    name: fixtures / prettier@${{ matrix.prettier-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        prettier-version:
          - 3.7
          - 3.8
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm add --save-dev prettier@~${{ matrix.prettier-version }}
      - run: pnpm exec prettier --version
      - run: pnpm test:fixtures

  format:
    name: format / prettier@${{ matrix.prettier-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        prettier-version:
          - 3.7
          - 3.8
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm add --save-dev prettier@~${{ matrix.prettier-version }}
      - run: pnpm exec prettier --version
      - run: pnpm format:check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - uses: pnpm/action-setup@v4
      - run: pnpm install
      - run: pnpm lint:check
